
/*  Fonts */
@font-face {
    font-family: Roboto;
    src: url('fonts/RobotoFlex.ttf');
  }

  @font-face {
    font-family: IBM-Main;
    src: url('fonts/IBMPlexMono-Light.ttf');
  }


/* General CSS */

.mainBody {
    background-color: #000;
}

.appText {
    color: #fddc5c;
    font-family: IBM-Main;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #fff;
}

.miniText {
    color: #fff;
    font-family: Roboto;
    text-align: center;
    font-size: 14px;
}

.pieceHeaderText {
color: #fddc5c;
font-family: Roboto;
padding-bottom: 0px;
margin-bottom: 0px;
text-align: center;
font-size: 60px;


}

.mainText {
    font-family: IBM-Main;
    color: #fff;
    font-size: 14px;

}



a {
  color: #ffe4c4;
  font-family: IBM-Main;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

#divText {
    color: #fddc5c;
    font-family: IBM-Main;
    
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 8px;
    
}


/* Menu Bar */

.menu-container {
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #fddc5c;
}

#menuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%; /* 🔑 adjust this to desired spacing */
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}


.menu-side {
  display: flex;
  width: 100%;
}

.menu-left {
  justify-content: flex-start;
  gap: 30px;
}

.menu-right {
  justify-content: flex-end;
  gap: 30px;
}

.menu-center {
  display: flex;
  justify-content: center;
}

#menuBar img {
  height: 40px;
}

.menu-side a {
  color: #ffe4c4;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-side a:hover {
  text-decoration: underline;
}


@media (max-width: 700px) {

  .menu-side a {
    font-size: 12px;
  }

  .menu-center img {
    height: 20px;
  }

  
}


/* Flex-Box */

  .row {
    display: flex;
    justify-content: center;
    gap: 40px; /* spacing between the two items */
    margin-bottom: 40px;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
  }
  
  .work-card {
    width: 40%;
    text-align: center;
  }



  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image-wrapper img {
    max-width: 40%;
    max-height: 40%;
    object-fit: contain;
  }

  body {
    font-family: IBM-Main, sans-serif;
    color: #fff;
    background-color: #000;
    margin-left: 10% ;
    margin-right: 10%;
    padding: 0;
  }
  